.how-it-works-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.how-it-works-container > h2 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 56px;
    margin-bottom: 2rem;
}

.how-it-works-container > p {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}