.have-a-read-header {
  height: 56px;
  justify-content: center;
  align-items: center;
  display: flex;

  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
}
.section-container {
  border-radius: 30px;
  margin-top: 23px;
  display: flex;
  flex-direction: column;
}
.section-header {



  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;

  color: #000000;
}

.section-details{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #000000;
}
.read-more{
    align-items: end;
    justify-content: end;
    display: flex;
    font-weight: 500;
    font-size: 21px;

}